* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("./resources/clouds.jpg");
    background-repeat: repeat;

}

main {
    margin: 2em;
}

#input-container {
    margin-bottom: 4em;
}

#city-input {
    background-color: rgba(255, 255, 255, 0.5);
}

#input-container button, #input-container input {
    padding: 0.7em;
    border-radius: 10px;
    border: none;
}

#input-container button {
    margin-left: 1em;
}

#input-container button:hover {
    background-color: #e9f3ff;
}

h1 {
    text-align: center;
}

.row {
    display: flex;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    overflow-x: auto;
    gap: 1em;
    padding: 1em;
}

.weather-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    gap: 1em;
    padding: 0.7em;
    border-radius: 10px;
    flex-shrink: 0;
    width: 200px;
    height: 200px;
    text-align: center;
}

.degree {
    font-size: 1.5em;
    white-space: nowrap;
}

.description .hour {
    font-size: 1em;
}

.date {
    font-size: 1.5em;
    padding: 0.4em;
    font-weight: bold;
    color: #000000;
}

#current-weather-container {
    padding: 2em;
    border-radius: 10px;
    flex-shrink: 0;
    text-align: center;
    width: fit-content;
    min-width: 200px;
    min-height: 200px;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    display: none;
    background: radial-gradient(rgba(198, 198, 198, 0.7), rgba(246, 246, 246, 0.7), #ffffff);
}

#current-weather-container .degree {
    font-size: 2em;
}

.container {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 1.7em;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: fit-content;
    margin: 3em auto 0;
    display: none;
}